* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #0f0fb9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
