body {
	font-family: Arial;
	font-size: 14px;
	line-height: 1.5;
	
	background-color: #222222;
	color: #ffffff;
  height: 20000px;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  bottom: 24px;
  left: 24px;
  z-index: 1;
  background: #ffffff;
  color: #222222;
  padding: 24px;
}

h1 {
	font-size: 21px;
	font-weight: 700;
}

path {
  transition: fill 0.5s;
}
