body {
  font-family: Arial;
  font-size: 16px;
  line-height: 1.5;
  height: 100vh;
  cursor: none;
  overflow: hidden;
  user-select: none;
}

div.cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #29044a;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.25s, height 0.25s;
}

div.cursor.is-down {
  width: 80px;
  height: 80px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
  user-select: none;
}

div.pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d4d4d4;
  background-image: url(assets/pattern.svg);
  background-size: 450px 450px;
}

section.scratched-out {
  mix-blend-mode: darken;
}

div.lineup {
  background-color: #8f12fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.lineup img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
