@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white: #ffffff;
  --black: #333333;
  --grey: #d7d9d2;
  --green: #e1ed86;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 800;
}

h2 {
  font-size: 7rem;
  line-height: 105%;
}

body {
  width: 100vw;
  display: flex;
  color: var(--white);
  font-family: "Archivo", Arial, sans-serif;
  font-weight: 100;
}

nav {
  background-color: var(--black);
  height: 100vh;
  width: 240px;
  position: fixed;
  padding: 24px;
  border-right: #d7d9d2;
}

main {
  background-color: var(--black);
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.option {
  width: 100%;
}

.option label {
  width: 100%;
  display: block;
  font-size: 0.9rem;
  margin-bottom: 12px;
}

.option label span {
  float: right;
  font-style: italic;
}

input[type="text"],
input[type="range"],
select {
  width: 100%;
  background: var(--white);
  border: none;
  padding: 0.6rem;
}

input[type="range"] {
  padding: 0;
}

input[type="text"]:focus,
select:focus {
  outline: 1px solid var(--white);
}

select {
  padding-left: 1rem;
}

.option-checkbox {
  display: flex;
}

main {
  width: 100%;
  min-height: 100vh;
}

textarea {
  width: 80%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  color: var(--white);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 120px;
  font-weight: 100;
  line-height: 100%;
  margin-left: 240px;
  padding: 24px 40px;
}

div.colours {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
}

div.colours label {
  grid-column: 1 / -1;
  margin-bottom: 16px;
}

div.colours > div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--green);
  cursor: pointer;
  transition: opacity 100ms ease-in-out;
}

div.colours > div:hover {
  opacity: 0.8;
}
