@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;800&display=swap");

:root {
  --white: #fff;
  --indigo: #0c52e8;
  --aqua: #a7dcfe;
  --pistachio: #d0fecf;
  --lavender: #a988f9;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Syne", Helvetica, sans-serif;
  color: var(--aqua);
  font-weight: 400;
  background-color: var(--indigo);
  transition: all 1s;
}

h1 {
  font-size: 24px;
  font-weight: 800;
  transition: 500ms ease-in-out;
}

h1.moving-text {
  position: absolute;
  top: 40px;
  left: 16px;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 110%;
  margin-bottom: 48px;
}

header {
  display: flex;
  gap: 12px;
  padding: 0 16px 80px 16px;
  position: fixed;
  top: 0;
  left: 0;
  transition: 100ms ease-in-out;
  z-index: 2;
}

.title {
  display: block;
  color: var(--white);
  border-top: 8px solid var(--white);
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

header.scrolled {
  padding: 0;
}

section {
  display: flex;
  align-items: center;
  gap: 80px;
  margin: 120px;
}

section img,
section div {
  position: relative;
}

section:nth-child(even) {
  flex-direction: row-reverse;
}

img {
  max-width: 480px;
}

div.stamps {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
}

div.stamps img {
  position: absolute;
  animation: spin 30s linear infinite;
}
