@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --background: #fff9f9;
  --primary-color: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: var(--background);

  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  text-align: center;

  padding: 24px;
}

h1 {
  font-size: clamp(3rem, 2.6479rem + 1.5023vw, 4rem);
}

header {
  max-width: 1008px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

select {
  width: 240px;
  padding: 8px;
  border: 1.5px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--background);
  border-radius: 8px;
  outline: none;
  transition: 50ms;
}

select:hover,
select:focus {
  background-color: var(--primary-color);
  color: var(--background);
}

circle {
  fill: var(--primary-color);
  stroke: var(--background);
  stroke-width: 2px;
}

line {
  stroke-width: 1px;
  stroke-dasharray: 2 8;
}

path.domain {
  stroke-width: 1.5px;
}

text.x-axis,
text.y-axis {
  fill: var(--primary-color);
  font-size: 24px;
  text-anchor: middle;
}

g.city rect {
  fill: var(--primary-color);
  opacity: 0;
}

g.city text {
  fill: var(--background);
  text-anchor: middle;
  font-size: 14px;
  font-weight: 400;
  opacity: 0;
}

g.city:hover rect,
g.city:hover text {
  opacity: 1;
}

g.city:hover g.city text {
  opacity: 1;
}

@media (max-width: 1000px) {
  header {
    flex-direction: column;
    gap: 24px;
  }

  form {
    flex-direction: column;
  }

  svg {
    margin-top: 64px;
  }
}
