@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

:root {
  --imdb: #b286fd;
  --metascore: #b2f041;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Space Mono", monospace;
  font-size: 18px;
  color: white;
  padding-top: 160px;
}

h1 {
  font-size: 80px;
  line-height: 100%;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 80px;
  padding: 24px 0;
  position: sticky;
  top: 0;
  border-bottom: 1px solid white;
}

form {
  display: flex;
  align-items: center;
  gap: 24px;
}

select {
  outline: none;
  background: none;
  font-family: "Space Mono", monospace;
  color: white;
  padding: 8px;
  border: 1px solid white;
  width: 240px;
}

.imdb {
  color: var(--imdb);
}

.metascore {
  color: var(--metascore);
}

text {
  fill: white;
}

text.imdb {
  font-size: 14px;
  fill: var(--imdb);
}

text.metascore {
  font-size: 14px;
  fill: var(--metascore);
}

text.year {
  opacity: 0.4;
  transition: opacity 150ms;
}

circle.imdb {
  fill: var(--imdb);
}

circle.metascore {
  fill: var(--metascore);
}

rect {
  fill: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: opacity 150ms;
}

g:hover rect {
  opacity: 1;
}

g:hover text {
  opacity: 1;
}

path.imdb {
  fill: none;
  stroke: var(--imdb);
}

path.metascore {
  fill: none;
  stroke: var(--metascore);
}

@media (max-width: 1000px) {
  header {
    margin: 0 24px;
  }
}
