@font-face {
  font-family: "HK Grotesk";
  src: url("assets/hk-grotesk.woff2"), url("assets/hk-grotesk.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "HK Grotesk";
  font-size: 1.4rem;
  color: white;
  background-color: #242529;
  transition: color 100ms ease-in-out;
}

h1 {
  font-size: 1.6rem;
  line-height: 90%;
}

header {
  position: fixed;
  width: 100vw;
  padding: 24px 32px 24px 24px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

header.black {
  color: "#242529";
}

footer {
  position: fixed;
  width: 100vw;
  padding: 24px 32px 24px 24px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.progress-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 8px;
  height: 0;
  background-color: #b4a8ea;
  z-index: 10;
  transition: background-color 100ms ease-in-out;
}

div.content {
  position: relative;
}

/* img also needs to be relative so shapes can go behind it */
div.content img {
  position: relative;
}

.square,
.circle {
  width: 200px;
  height: 200px;
  position: absolute;
}

.circle {
  border-radius: 50%;
}

section.s1 {
  background-color: #242529;
}

section.s1 .circle {
  background-color: #b4a8ea;
  bottom: 50px;
  right: -100px;
}

section.s1 .square {
  background-color: #394bc7;
  top: 100px;
  left: -100px;
}

section.s2 {
  background-color: #242529;
}

section.s2 .circle {
  background-color: #fd498f;
  top: 100px;
  left: -100px;
}

section.s2 .square {
  background-color: #803790;
  bottom: 40px;
  right: -100px;
}

section.s3 {
  background-color: #fff;
}

section.s3 .circle {
  background-color: #2e145b;
  bottom: 200px;
  right: -100px;
}

section.s3 .square {
  background-color: #f4454a;
  left: -100px;
  top: 400px;
}

section.s4 {
  background-color: #fff;
}

section.s4 .circle {
  background-color: #587a93;
  left: -100px;
  bottom: 200px;
}

section.s4 .square {
  background-color: #cdd4df;
  right: -100px;
  bottom: 300px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
