@font-face {
  font-family: PT Root;
  src: url("fonts/ptroot.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: PT Root, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2 {
  font-size: 16px;
  display: flex;
}

h1 span,
h2 span {
  display: inline-block;
  width: 150px;
  flex: 0 0 auto;
}

h2 span {
  width: 250px;
}

h3 {
  font-size: 32px;
}

a {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border-radius: 100px;
  padding: 8px 24px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

a img {
  width: 12px;
  height: 16px;
  object-fit: cover;
  object-position: center right;
  transition: width 0.25s;
}

a:hover img {
  width: 24px;
}

header {
  width: 100%;
  position: fixed;
  top: 16px;
  left: 0;
  z-index: 1000000000;
  overflow: hidden;
}

section {
  min-height: 100vh;
  display: flex;
  overflow: hidden;
}

section.alternative {
  display: flex;
  flex-direction: row-reverse;
}

section div.split {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section div.slides {
  width: 440px;
  height: 640px;
  position: relative;
}

section div.slides img {
  position: absolute;
  top: 0;
  left: 0;
  width: 440px;
  height: 640px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}

section div.info {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 10000001;
}

@media (max-width: 1000px) {
  section {
    display: block;
    margin: 80px 24px;
  }

  section.alternative {
    display: block;
  }

  section div.info {
    margin: 64px 0;
  }

  section div.slides,
  section div.slides img {
    width: 80vw;
    height: 120vw;
  }
}
