@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,500;1,200;1,700&display=swap");

:root {
  --white: #fff;
  --grey: #e8e8e8;
  --darkgrey: #232531;
  --blue: #0152fe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  background: var(--blue);
}

img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

h1 {
  font-size: 56px;
  line-height: 100%;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  color: var(--blue);
}

h2 {
  font-weight: 200;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.4;
  color: var(--white);
}

h3 {
  font-size: 24px;
  font-weight: 200;
  margin-top: 8px;
  opacity: 0.9;
}

h4 {
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  font-weight: 200;
}

span {
  font-style: italic;
}

nav {
  height: 100vh;
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 80px;
  background-color: var(--darkgrey);
  color: var(--white);
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

main {
  width: 75%;
  padding: 40px;
  background-color: var(--blue);
  color: var(--white);
}

svg {
  width: 100%;
  margin: 8px 0 64px 0;
}

rect {
  fill: var(--darkgrey);
  opacity: 0.9;
  transition: fill 100ms ease-in-out;
}

circle.actual {
  fill: var(--darkgrey);
  opacity: 0.9;
  transition: fill 100ms ease-in-out;
}

circle.ring {
  fill: none;
  stroke: var(--darkgrey);
  stroke-width: 1px;
  opacity: 0.4;
}

text {
  font-size: 14px;
  text-anchor: middle;
  cursor: default;
  fill: var(--white);
}

text.steps {
  fill: var(--white);
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

g:hover text.steps {
  opacity: 1;
}

g:hover rect {
  fill: var(--white);
}

g:hover circle.actual {
  fill: var(--white);
}

text.day {
  transition: opacity 100ms ease-in-out;
}

g:hover text.day {
  opacity: 0;
}

.user {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 16px 0;
}

.transparent {
  opacity: 0;
}
