@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");

:root {
  --purple: #c4b2df;
  --green: #f0f8ba;
  --blue: #dff0f2;
  --white: #fff;
  --black: #24211f;
  --cream: #fef5ee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  background: var(--cream);
}

img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

h1 {
  font-size: 32px;
  font-weight: 200;
  margin-bottom: 8px;
}

h2 {
  font-weight: 100;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  font-size: 32px;
  font-weight: 100;
  margin-top: 8px;
}

h4 {
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  font-weight: 400;
}

nav {
  height: 100vh;
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

main {
  width: 75%;
  padding: 40px;
  background-color: var(--black);
  margin: 24px;
  border-radius: 8px;
  color: var(--white);
}

svg {
  width: 100%;
  margin: 8px 0 64px 0;
}

rect,
circle {
  fill: var(--purple);
  transition: fill 100ms ease-in-out;
}

text {
  font-size: 14px;
  text-anchor: middle;
  cursor: default;
  fill: var(--white);
}

text.steps {
  fill: var(--cream);
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

g:hover text.steps {
  opacity: 1;
}

g:hover rect {
  fill: var(--cream);
}

.user {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.transparent {
  opacity: 0;
}
