* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: 0.9;
  background-color: black;
  color: white;
  overflow: hidden;
}

h1 {
  position: fixed;
  top: 24px;
  left: 24px;
  font-size: 10vw;
  color: transparent;
  -webkit-text-stroke: 1.5px black;
}
