* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

nav {
  display: flex;
  gap: 16px;
}
