* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  color: white;
  font-family: Arial, Helvetica, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
  font-size: clamp(1.125rem, 0.9878rem + 0.5854vw, 1.5rem);
  text-align: center;

  padding: 5vh 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: clamp(1.125rem, 0.9878rem + 0.5854vw, 1.5rem);
  grid-area: 1 / 1;
}

input {
  background-color: transparent;
  border: none;
  font-size: clamp(2.5rem, 1.0366rem + 6.2439vw, 6.5rem);
  font-weight: 800;
  padding: 16px;
  outline: none;
  color: white;
  text-align: center;
  grid-area: 1 / 1;
}

input::placeholder {
  color: #444;
}

input:focus::placeholder {
  opacity: 0;
}

header {
  display: grid;
  place-items: center;
}

main {
  display: grid;
  place-items: center;
}

input.search-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
}

footer {
  display: grid;
  place-items: center;
}

.clear,
.spinner {
  opacity: 0;
  grid-area: 1 / 1;
}

.search-hint {
  grid-area: 1 / 1;
}

.clear {
  position: relative;
  cursor: pointer;
  z-index: 2;
  pointer-events: none;
}

div.videos {
  display: grid;
  place-items: center;
  grid-area: 1 / 1;
}

.video {
  grid-area: 1 / 1;
  max-width: 500px;
  max-height: 500px;
  display: block;
  z-index: 2;
}

.loading .spinner,
.has-results .clear {
  opacity: 1;
  pointer-events: all;
}

.loading .search-hint,
.has-results .title {
  opacity: 0;
}

@media (max-width: 700px) {
  div.videos {
    padding: 24px;
  }

  .video {
    width: 100%;
  }
}
